<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Admin Tools</title>
</head>
<body>
{{> common/_navigation }}

<h1>Admin Tools</h1>
	{{#errorMessage}}
		{{ . }}
	{{/errorMessage}}
<h2>Create a User</h2>



<form action="/admin/tools/create" method="post">
	<input required type="text" name="username" placeholder="User name">
	<input required type="password" name="password" placeholder="password">
	<select name="userRoleId" required>
			<option>Choose a role</option> 
			{{#userRoles}}		
			<option value="{{id}}">{{#name}} {{name}} {{/name}}</option> 
			{{/userRoles}}
		</select>
	
	<button>Create User</button><br>
	<input type="hidden" name="{{ _csrf.parameterName }}"	value="{{ _csrf.token }}">
</form>
	
	
	<table>
		<thead>
			<tr>
				<th>Username </th>
				<th>Password</th>
				<th>Role Name</th>
			</tr>
		</thead>
		<tbody>
			{{#users}}
			<tr>
				<td>{{#username}} {{.}} {{/username}}</td>
				<td>{{#password}} {{.}} {{/password}}</td>
				<td> {{#roles}} {{name}} {{/roles}} </td>
			</tr>
			{{/users}}
		</tbody>
	</table>


</body>
</html>